<main>
    <section class="welcome-page-banner">
        <h2>
            The purpose of Humankind is to serve, <br>
            and show compassion and will to help others.
        </h2>
    </section>
</main>
<div class="wrapper">
    <section class="welcome-index-links">
        <a href="/">
            <div class="welcome-page-index-square">
                <h3>OPT 1</h3>
            </div>
        </a>
        <a href="#">
            <div class="welcome-page-index-rectangle">
                <h3>OPT 2</h3>
            </div>
        </a>
        <a href="#">
            <div class="welcome-page-index-square">
                <h3>OPT 3</h3>
            </div>
        </a>
        <a href="#">
            <div class="welcome-page-index-rectangle">
                <h3>OPT 4</h3>
            </div>
        </a>
        <a href="#">
            <div class="welcome-page-index-rectangle">
                <h3>OPT 5</h3>
            </div>
        </a>
    </section>
</div>