<p id="notice"><%= notice %></p>

<p>
  <strong>Pickup:</strong>
  <%= @ride.pickup %>
</p>

<p>
  <strong>Drop:</strong>
  <%= @ride.drop %>
</p>

<p>
  <strong>User:</strong>
  <%= @ride.user %>
</p>

