<header>
  <div class="logo">
    <a href="/" class="nav-bar-logo">LOGO</a>
    <nav>
      <ul>
        <li>
          <a href="/rides">OPT 1 </a>
        </li>
        <li>
          <a href="/images">OPT 2</a>
        </li>
        <li>
          <a>OPT 3</a>
        </li>
      </ul>
      <div class="user-information">
        <ul>
          <% if current_user %>
            <li>
              <%= link_to (truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, title: 'Logout', :method => :delete) %>
            </li>
          <% else %>
            <li>
              <%= link_to('Sign In', new_user_session_path, title: 'Sign In') %>
            </li>
          <% end %>
        </ul>  
      </div>
    </nav>
  </div>
</header>