 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/rides">Ride Share <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/images">Lost-Found</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contact Us</a>
        </li>
      </ul>
      <form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if current_user %>
              <li>
                <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
              </li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-outline-danger', title: 'Logout', :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
              </li>
            <% end %>
          </li>
        </ul>
      </form>
    </div>
  </nav>